@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

#title {
    font-size: 70px;
}

.cat-img {
    width: 90px;
}

#about {
    font-size: 25px;
    padding: 20px 120px;
}

.icon {
    width: 80px;
}

.instructions {
    display: flex;
    align-items: center; 
    justify-content: space-around;
    width: 40vw;
    margin-bottom: 50px;
    background-color: rgba(255,255,255, 0.8);
    border-radius: 20%;
    font-size: 18px;
}

#intro-page {
    width: 60vw;
    height: 80vh;
    margin: 8vh auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    border-radius: 5%;
    z-index: 3;
    background-color: burlywood;
    box-shadow: 0px 0px 2px 2px;
}

#gameover {
    font-size: 40px;
    width: 60vw;
    height: 80vh;
    margin: 8vh auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 5%;
    visibility: hidden;
    background-color: rgb(184, 134, 11);
    z-index: 4;
    box-shadow: 0px 0px 2px 2px;
}

#gameover img {
    width: 300px;
}

#gameover h3 {
    background-color: rgba(255,255,255, 0.8);
    border-radius: 20%;
    padding: 20px 40px;
}

body {
    background-image: url("../images/fluffy-bg.jpeg");
    background-size: 100% 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Rampart One';
}

button {
    display: inline-block;
    font-size: 18px;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
    font-family: 'Rampart One';
}

button:hover{
        color: white;
        background-color:#FFFFFF;
    }

#game {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

#scoreboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
    padding: 0;
    margin-top: 5vh;
    visibility: hidden;
}

#scoreboard p {
    background-color: rgba(255, 0, 0, 0.6);
    border-radius: 8%;
    padding: 10px;
    font-weight: bold;
}

#board {
    width: 60vw;
    height: 70vh;
    background-image: url(../images/checkerboard-bg.png);
    background-size: 100% 100%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    z-index: 0;
}

#player {
    background-image: url("../images/player-dumpling.png");
    background-size: 100% 100%;
    position: absolute;
    bottom: 0;
}

.dog-obstacle {
    background-image: url("../images/pug-running.png");
    background-size: 100% 100%;
    position: absolute;
}

.dumpling-prize {
    background-image: url(../images/dumpling-emoji.png);
    background-size: 100% 100%;
    position: absolute;
}

.bullet {
    background-image: url(../images/poo-emoji.png);
    background-size: 100% 100%;
    position: absolute;
}

.bao-prize {
    background-color: darkgreen;
    position: absolute;
}