body {
    background-color: skyblue;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#scoreboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
    padding: 0;
    margin-top: 5vh;
}

#board {
    width: 60vw;
    height: 70vh;
    background-color: lightcoral;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    z-index: 0;
}

#player {
    background-color: cyan;
    position: absolute;
    bottom: 0;
}

.dog-obstacle {
    background-color: blueviolet;
    position: absolute;
}

.dumpling-prize {
    background-color: orange;
    position: absolute;
}

.bullet {
    background-color: brown;
    position: absolute;
}

.bao-prize {
    background-color: darkgreen;
    position: absolute;
}