@font-face {
    font-family: arcadeFont;
    src: url(arcade-font.ttf);
}

#title {
    font-family: arcadeFont;
}

#intro-page {
    width: 60vw;
    height: 80vh;
    margin: 8vh auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    border-radius: 5%;
    z-index: 3;
    background-color: burlywood;
}

#gameover {
    width: 60vw;
    height: 80vh;
    margin: 8vh auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    border-radius: 5%;
    visibility: hidden;
    background-color: darkgoldenrod;
    z-index: 4;
}

body {
    background-image: url("../images/fluffy-bg.jpeg");
    background-size: 100% 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

#scoreboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
    padding: 0;
    margin-top: 5vh;
    visibility: hidden;
}

#board {
    width: 60vw;
    height: 70vh;
    background-image: url(../images/checkerboard-bg.png);
    background-size: 100% 100%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    z-index: 0;
}

#player {
    background-color: cyan;
    background-image: url("../images/cat-cartoon.jpeg");
    background-size: 100% 100%;
    position: absolute;
    bottom: 0;
}

.dog-obstacle {
    background-image: url("../images/pug-running.png");
    background-size: 100% 100%;
    position: absolute;
}

.dumpling-prize {
    background-image: url(../images/dumpling-emoji.png);
    background-size: 100% 100%;
    position: absolute;
}

.bullet {
    background-image: url(../images/poo-emoji.png);
    background-size: 100% 100%;
    position: absolute;
}

.bao-prize {
    background-color: darkgreen;
    position: absolute;
}